body{
    background: url("../immage/main_fon22.gif") fixed;
    background-size: contain;
}

@media (max-width: 290px) {
    html {
        width: 290px;
    }
}

@media (max-width: 750px) {
    body {
        background-size: cover;
    }
}