
.container-fluid {
    overflow-x: hidden;
}

ol {
    margin-left: 0;
}

.sidebar td {
    line-height: 2px;
    height: 7px;
}

.sidebar tr {
    line-height: 15px;
}

.content h5 {
    color: #a9a9a9;
}

.card-img-overlay b {
    background: black;
    color: white;
}

.card-img-overlay {
    height: 60px;
}

#iAm {
    background: #95999c;
}

.info {
    color: white;
}

@media (max-width: 992px) {
    .card-body a {
        background-color: #6f42c1;
        border-color: #6f42c1;
    }
}

@media (max-width: 768px) {
    .card-body a {
        background-color: #33fff8;
        border-color: #33fff8;
    }
}

@media (max-width: 576px) {
    .card-body a {
        background-color: red;
        border-color: red;
    }
}

@media (max-width: 455px) {
    .unnecessaryLine {
        display: none;
    }
}

@media (max-width: 365px) {
    #tableBuyFabric {
        font-size: 70%;
    }
}