body{
    background: url("../immage/fon.gif") repeat center center fixed;
    background-size: contain;
}
#heder {
    color: yellow;
}
.topOfTop{
    margin-top: 15%;
    text-align:  center;
}

.topOfTop h3 {
    color: greenyellow
}
