body{
    background: url("../immage/main_fon.gif") fixed;
    background-size: contain;

}
#heder {
    color: yellow;
}

#canva {
    background-color: white;
}

@media (max-width: 290px) {
    html {
        width: 290px;
    }
}

@media (max-width: 750px) {
    body {
        background-size: cover;
    }
}